div.row-fluid
  div.span9
    div#map.mapBounds
    script(type='text/javascript').
      var centerOn = -1;

      $(window).resize(function() {
        resize();
      });

      $(document).ready( function(){
        resize();

        map = L.mapbox.map('map', 'katrina.hc7c569e')
        .setView([37.9,  -95.677139], 4);
        map.dragging.enable();
        map.touchZoom.disable();
        map.doubleClickZoom.enable();
        map.scrollWheelZoom.disable();
        // disable tap handler, if present.
        if (map.tap) map.tap.disable();

        var markers = [];

        var socket = io.connect('http://fuelfinder-admin.herokuapp.com');
        socket.emit('watching');
        socket.on('positions', function(positions_hash) {
          console.log('We got positions!');
          // Remove all the existing markers
          for (var i = 0; i < markers.length; i++){
            var marker = markers[i];
            marker.setMap(null);
            delete marker[i];
          }
          var positions_array = positions_hash['positions'];
          for (var i = 0; i < positions_array.length; i++) {
            var position = positions_array[i];
           
            L.mapbox.featureLayer({
              type: 'Feature',
              geometry: {
                  type: 'Point',
                  coordinates: [position.coords.longitude, position.coords.latitude]
              },
              properties: {
                  title: 'A Station Searcher',
                  description: 'Searching...searching...',
                  'marker-size': 'large',
                  'marker-color': '#f0a'
              }
          }).addTo(map);
            markers.push(marker);
          }
        })
      });

  div.span3
    form(id='control')
      h1 FuelFinders
      p
        | The FuelFinder Admin lets you track where people are searching for markets and what they are saying
